
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .completed span{
    text-decoration: line-through; /* Style completed tasks with strikethrough */
  }
  